/* 分割線感應區域 */
.splitpanes__splitter {
    background-color: #ccc;
    position: relative;
}

.splitpanes__splitter:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
}

.splitpanes--vertical > .splitpanes__splitter:before {
    left: -7px;
    right: -7px;
    height: 100%;
    z-index: 10;
}

.splitpanes--horizontal > .splitpanes__splitter:before {
    top: -5px;
    bottom: -5px;
    width: 100%;
    z-index: 10;
}

/* 分割線樣式 */
.splitpanes--vertical > .splitpanes__splitter {
    background: var(--spliter);
}

.splitpanes--horizontal > .splitpanes__splitter {
    background: var(--spliter);
}
