// ---------------- //
//               Logger            //
// ---------------- //

/* width */
#logger::-webkit-scrollbar {
    width: 12px;
}

#logger::-webkit-scrollbar:horizontal {
    height: 5px;
}

/* Track */
#logger::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
#logger::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
}

/* Handle on hover */
#logger::-webkit-scrollbar-thumb:hover {
    background: rgb(25, 200, 206);
}

#logger::-webkit-scrollbar-corner {
    background: transparent;
}

// ---------------- //
//              InfoView          //
// ---------------- //

/* width */
.info-content::-webkit-scrollbar {
    width: 12px;
}

.info-content::-webkit-scrollbar:horizontal {
    height: 5px;
}

/* Track */
.info-content::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
.info-content::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
}

/* Handle on hover */
.info-content::-webkit-scrollbar-thumb:hover {
    background: rgb(25, 200, 206);
}

.info-content::-webkit-scrollbar-corner {
    background: transparent;
}

// ---------------- //
//            Workspace        //
// ---------------- //

/* width */
.workspace-item-wrapper::-webkit-scrollbar {
    width: 12px;
}

.workspace-item-wrapper::-webkit-scrollbar:horizontal {
    height: 5px;
}

/* Track */
.workspace-item-wrapper::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
.workspace-item-wrapper::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
}

/* Handle on hover */
.workspace-item-wrapper::-webkit-scrollbar-thumb:hover {
    background: rgb(25, 200, 206);
}

.workspace-item-wrapper::-webkit-scrollbar-corner {
    background: transparent;
}

// ---------------- //
//                  Pane             //
// ---------------- //

/* width */
.folder-pane::-webkit-scrollbar,
.group-pane::-webkit-scrollbar {
    width: 0;
}


// ---------------- //
//             Settings             //
// ---------------- //

/* width */
.controls-wrapper::-webkit-scrollbar,
.controls-wrapper::-webkit-scrollbar {
    width: 0;
}


// ---------------- //
//              Viewer              //
// ---------------- //

/* width */
#view-area::-webkit-scrollbar,
#view-area::-webkit-scrollbar {
    width: 0;
}

