.views-page {
    position: fixed;
    width: 100%;
    top: 30px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    padding-bottom: 60px;
    box-sizing: border-box;
    background-color: var(--dark);
}

.views-page-wrapper {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50px;
    right: 0;
    box-sizing: border-box;
    padding: 50px;
}
